body{
    margin: 0;
    padding: 0;
    font-family: 'Clash Display', sans-serif;
    background: #000000;
    color: white;
}

.vh-84{
    height: 84vh;
}

.btn-dark{
    background: #1E1E2A;
    border-radius: 20px;
    padding: 10px 30px;
    
}

.blockquote{
    background-color: #02314D;
}

.fs-3{
    line-height: 2rem;
}

.mt-8{
    margin-top: 8rem;
}

.level1-text{
    color: #0696E7;
}

.level2-text{
    color: #E70606;
}