:root {
  --gradient-colors: #a9363c 0.01%, #a70a53 53.8%, #a9363c 99.98%;
}
body{
 color: white;
 background-color: #000; 
}
.btnn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  /* padding: 0.375rem 0.75rem; */
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.img-fluid {
  max-width: 90% !important;
  height: auto;
}
.btn-outline-info {
  color: #a70a53;
  background-color: transparent;
  background-image: none;
}

h1 {
  background: linear-gradient(
    89.98deg,
    #a9363c 0.01%,
    #a70a53 53.8%,
    #a9363c 99.98%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* fonts links */

@font-face {
  font-family: "visby-bold";
  src: url(./Fonts/VisbyCF-Bold.otf);
}

@font-face {
  font-family: "visby-DemiBold";
  src: url(./Fonts/VisbyCF-DemiBold.otf);
}

@font-face {
  font-family: "visby-regular";
  src: url(./Fonts/VisbyCF-Regular.otf);
}

@font-face {
  font-family: "visby-extrabold";
  src: url(./Fonts/VisbyCF-ExtraBold.otf);
}

@font-face {
  font-family: "visby-heavy";
  src: url(./Fonts/VisbyCF-Heavy.otf);
}

@font-face {
  font-family: "visby-medium";
  src: url(./Fonts/VisbyCF-Medium.otf);
}

@font-face {
  font-family: "Breymont-Bold";
  src: url("./Fonts/Breymont-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Breymont-Light";
  src: url("./Fonts/Breymont-Light.woff2") format("woff2");
}
/* fonts end */
/* navigation Changes */

/* navbar */
.padregister {
  padding-top: 0px;
  padding-bottom: 0px;
}
.btn-outline {
  font-family: "visby-bold";
  font-size: 24px !important;
  font-weight: 600;
  padding: -20px 0;

}
.btn-outline {
  color: linear-gradient(89.99deg, var(--gradient-colors));
  background-color: linear-gradient(89.99deg, var(--gradient-colors));
  font-weight: bold;
  border-radius: 0;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
  background: linear-gradient(
    90deg,
    #ee0c77 -16.49%,
    #f24d56 61.82%,
    #ee0c77 105.31%
  );
  color: #fff;
}

.nav-item {
  font-family: "visby-bold";
  font-style: bold;
  font-weight: 600;
  font-size: 24px;
  line-height: 37px;
  padding-right: 2.5rem;
}
/* countdown timer */
.countdown-timer-container {
  color: white;
}
.countdown-timer-values {
  padding-top: 50px;
  text-align: center;
  font-family: "visby-bold";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 102%;
}
.texts-timer {
  font-family: "visby-bold";
  font-style: normal;
}

/* landing Page texts */
.heading-items {
  padding-top: 20px;
  color: white;
  font-family: "Breymont-Bold";
  font-style: normal;
}
.heading-nmims {
  padding-top: 25px;
  font-size: 20px;
}
.welcome p{
  margin-top:20px;
}


/* heading graphics */
.heading-graphics {
  padding-top: 10px;
  font-family: "visby-medium";
  font-size: normal;
  color: white;
  flex-wrap: wrap;
}

.cybercypherheading {
  width: 50%;
}

@media (min-width: 300px ) and (max-width: 767.98px) { 
  .cybercypherheading{
     width: 100%;  
  }
}

.findus {
  width: 50%;
}

@media (min-width: 300px ) and (max-width: 767.98px) { 
  .findus {
    width: 80%;
    height: 70%;
  }
}


.applynow {
}

.applybtn {
  padding-top: 20px;
}

/* welcome to scam */

.welcome {
  padding-top: 20px;
  text-align: center;
  font-family: "visby-bold";
  font-size: bold;
  color: white;
}
.officalhackathon {
  position: relative;
  text-align: center;
  bottom: 80px;
  font-size: 28px;
  flex-wrap: wrap;
}
@media (min-width: 300px ) and (max-width: 767.98px) { 
.officalhackathon{
  bottom: 140px;

}
 }

 .offical {
  position: relative;
  text-align: center;
  bottom: 140px;
  font-size: 28px;
  flex-wrap: wrap;
}
@media (min-width: 300px ) and (max-width: 767.98px) { 
.offical{
  bottom: 90px;

}
 }
.welcomeheading {
  padding-top: 20px;
  width: 70%;
}
.shadow {
  position: relative;
  width: 50%, height=50%;
  z-index: 1;
}
.shadow_2 {
  position: relative;
  z-index: 2;
  left: 8rem;
  top: -40px;
  width: 50%, height=50%;
}

.shadow_3 {
  position: relative;
  width: 50%, height=50%;
  z-index: 1;
}
.shadow_4 {
  position: relative;
  width: 50%, height=50%;
  z-index: 2;
  left: -8rem;
  top: -40px;
}
/**/
/* @media (min-width: 992px) { */
/*   .shadow, */
/*   .shadow_2 { */
/*     width: 100%; */
/*     z-index: 1; */
/*   } */
/* } */
@media (max-width: 992px) {
  .shadow,
  shadow_3 {
    left: 0;
    top: 0;
  }
  .shadow_2 {
    left: 8rem !important;
  }
  .shadow_4 {
    left: 2rem !important;
    top: -2rem !important;
  }
}

.lead {
  padding: 15px;
  text-align: right;
  font-size: 1.25rem;
  font-weight: 300;
}
.lead_2 {
  padding: 15px;
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 300;
}
.lead_3 {
  padding: 15px;
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 300;
}
.about-tq {
  font-family: "visby-bold";
  font-size: bold;
}

.tq {
  padding-left: 500px;
  text-align: center;
  font-family: "visby-bold";
  font-size: bold;
  color: white;
}

.tq-items {
  color: white;
  padding-top: 20px;
}
.welcome-items {
  padding-top: 50px;
  color: white;
}
.about {
  font-family: "visby-bold";
  font-size: bold;
}
.aboutcc {
  font-family: "visby-bold";
  font-size: bold;
  font-size: 1rem;
}

/* ================================================== */
/* contact form */
/* ================================================== */

.getintouch {
  position: absolute;
  left: 600px;
  top: 1830px;
  font-size: 30px;
}
.error {
  padding: 20px;
  border: none;
  display: none;
  color: #d9534f;
  border: solid 1px #d9534f;
  font-size: 12px;
}
.success {
  padding: 20px;
  display: none;
  color: #5cb85c;
  border: solid 1px #5cb85c;
  margin-bottom: 20px;
}
.error img {
  vertical-align: top;
}
.full {
  width: 98%;
}

#contact_form {
  margin-top: 20px;
}

#contact_form input[type="text"],
#contact_form textarea,
#contact_form input[type="email"],
#contact_form input[type="number"],
#search {
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  border: solid 1px #fff;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 !important;
  height: auto;
}

.de_light #contact_form input[type="text"],
.de_light #contact_form textarea,
.de_light #contact_form input[type="email"],
.de_light #search {
  border: solid 1px #ddd;
  background: #f5f5f5;
  color: #fff !important;
}

#contact_form input[placeholder],
#contact_form textarea[placeholder] {
  color: #eee;
}

#contact_form input[type="submit"].btn-line {
  background: none;
  padding: 8px 20px;
}

#contact_form input[type="submit"].btn-line:hover {
  background: #fff;
  border-color: #fff;
}

#contact_form textarea {
  height: 178px;
}

.form-default input[type="text"] {
  background: #fff;
  border: none;
  font-size: 14px;
  padding: 2px 10px 2px 10px;
  color: #ffffff;
}

.header-light .form-default input[type="text"] {
  background: #f2f2f2;
  color: #ffff;
}

.pop-search .form-default {
  width: 100%;
  top: 5px;
  left: 0;
  position: absolute;
  z-index: 1;
  display: none;
}

.pop-search .form-default input[type="text"] {
  width: 100%;
  font-size: 24px;
  padding: 13px;
  outline: none;
}
.pop-search-click {
  display: inline-block;
  position: absolute;
  top: 20px;
  cursor: pointer;
  z-index: 100;
}
.pop-search-click:before {
  margin-left: -15px;
  font-family: "FontAwesome";
  content: "\f002";
}
.pop-search-click.click:before {
  content: "\f00d";
}

.error_input {
  border-color: #d31e2b !important;
}
/* footer */

.kuch {
  padding-top: 10px;
  font-family: "visby-bold";
  font-size: bold;
  font-size: 1rem;
  text-align: justify;
  color: white;
  text-decoration: none;
}
.footerregister {
  padding-top: 10px;
  text-align: right;
  font-family: "visby-bold";
  font-size: bold;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
.footer {
  height: 40px;
}
/* TQ_Page */
.who_are_we {
  width: 100%;
}

/* Schedule Page */
.schedule_para {
  color: white;
  font-family: "Breymont-Bold";
  font-style: normal;
}
/* contact us page */
.contactus {
  position: relative;
  text-align: center;
  font-size: 28px;
  bottom:680px;
  left:110px;

}
/* spotlights index page domains */

.spotlights {
  border-top: 0 !important;
}

.spotlights + * {
  border-top: 0 !important;
}

.spotlights > section {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #000;
  color: white;
}

.spotlights > section > .image {
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  display: block;
  position: relative;
  width: 30%;
}

.spotlights > section > .image img {
  border-radius: 0;
  display: block;
  width: 100%;
}

.spotlights > section > .image:before {
  color: white;
  background: #000;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.spotlights > section > .content {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 2em 3em 0.1em 3em;
  width: 70%;
}

.spotlights > section > .content > .inner {
  margin: 0 auto;
  max-width: 100%;
  width: 65em;
}

.spotlights > section:nth-child(2n) {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #0000;
  color: white;
}

.spotlights > section:nth-child(2n) > .content {
  -moz-align-items: -moz-flex-end;
  -webkit-align-items: -webkit-flex-end;
  -ms-align-items: -ms-flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 1680px) {
  .spotlights > section > .image {
    width: 40%;
  }

  .spotlights > section > .content {
    width: 60%;
  }
}

@media screen and (max-width: 1280px) {
  .spotlights > section > .image {
    width: 45%;
  }

  .spotlights > section > .content {
    width: 55%;
  }
}

@media screen and (max-width: 980px) {
  .spotlights > section {
    display: block;
  }

  .spotlights > section > .image {
    width: 100%;
  }

  .spotlights > section > .content {
    padding: 4em 3em 2em 3em;
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  .spotlights > section > .content {
    padding: 3em 1.5em 1em 1.5em;
  }
}

.whatsin {
  position: relative;
  text-align: center;
  bottom: 110px;
  font-size: 20px;
}
.vectors {
  height: 90%;
}
#prize {
  font-family: "Breymont-Bold";
  font-style: bold;
  font-size: 20px;
}

/* cards index */
.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  /* background: linear-gradient(90deg, rgba(241,69,90,1) 0%, rgba(238,16,117,1) 100%);  width: 500px; */
  background: #000;
  margin: 40px;
  margin-top: 20px;
  border-radius: 15px;
  max-width: 500px;
}

.card-image {
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}

.card-1 {
  background-image: url("./Assets/Images_index/robot.jpg");
}
.card-2 {
  background-image: url("./Assets/Images_index/recycle.jpg");
}
.card-3{
background-image: url('./Assets/Images_CC1.0/spies.jpg');
}
.card-4{
  background-image: url('./Assets/Images_CC1.0/social_media.jpg');
}
.cards h2 {
  padding: 10px;
  font-family: "visby-bold";
  font-style: bold;
  color: white;
  font-size: 40px;
}
.cards h3 {
  padding: 10px;
  font-family: "breymont-bold";
  font-style: bold;
  font-size: 20px;
  color: white;
}
.cards p {
  padding: 10px;
  font-family: "visby-regular";
  font-style: normal;
  color: white;
  
}
.btn-colour-1 {
  color: #fff;
  background-color: #000;
  border-color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 2px;
  text-decoration: none;
}
.btn-colour-1:hover {
  text-decoration: none !important;
}
.card-button {
  padding: 10px;
}
.cards:hover {
  background: linear-gradient(
    90deg,
    rgba(241, 69, 90, 1) 0%,
    rgba(238, 16, 117, 1) 100%
  );
  width: 500px;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
  text-decoration: none;
}
/* typewriter */

.tw-container {
  display: grid;
  place-items: center;
}

.typewriter-div {
  font-size: 60px;
  color: white !important;
  display: inline-block;
  place-items: center;
  /* width: 50vw; */
  /* margin-left: 25vw; */
  /* border: 2px solid white; */
}

.typewriter {
  font-size: 60px;
  color: white !important;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 2.5s steps(30, end) 0s forwards, blinking 1s infinite;
  animation-iteration-count: 500;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: white;
  }
  100% {
    border-right-color: transparent;
  }
}

.what_waiting {
  color: white;
  margin: 50px;
  font-family: "breymont-bold";
  font-style: bold;
}

/* cards on cybercypher 1.0 page */
.pf-card-list{
  display:flex;
  color: white;
  font-family: 'visby-bold';
  font-style: bold ;
  padding: 3rem;
  overflow-x:scroll;
}
.pf-card-list::-webkit-scrollbar{
  width: 10px;
  height: 10px;

}
.pf-card-list:-webkit-scrollbar-thumb{
  background: #000;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
.pf-card-list::-webkit-scrollbar-track{
  background:#000;
}
.pf-card{
  display:flex;
  position: relative;
  flex-direction: column;
  padding: 1.5rem;
  height:350px;
  width: 400px;
  min-width: 250px;
  margin-left: 80px;
  border-radius: 16px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;

  transition:.2s;

}

.pf-card:hover{
  transform: translateY(-1rem);
}

.pf-card:hover~.pf-card{
  transform: translate(130px);
}
.pf-card:not(:first-child){
  margin-left:-130px;
}
.profile1{
  background-image: url('./Assets/Images_CC1.0/chaturvedhi_cheif\ Guest.jpg');
}
.profile{
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  position: relative;
}
.profile-image img{
  width: 140px;
  height: 100px; 
  display: block;
  overflow: hidden;
  margin: 0px ;
}
.pf-card h2:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.pf-card h4:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.tags {
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: .5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: .66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: fixed;
}

.tags a:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-color: white;
}


/* cyber cypher 1.0 our sponsers */

.slide img {
  width: 200px;
  height: 100px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 70px;
  background-color: #000;
  padding-top:20px;
  padding-bottom: 100px;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}

/* schedule page timeline */

ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: linear-gradient(
      89.98deg,
      #a9363c 0.01%,
      #a70a53 53.8%,
      #a9363c 99.98%
    );    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #000;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}
.flag{
  background:#000;
  font-family: 'visby-bold';
  font-style:bold;
  color:white;
  background: linear-gradient(
    89.98deg,
    #a9363c 0.01%,
    #a70a53 53.8%,
    #a9363c 99.98%
  );
}

/* google maps api stuff */
.gmap_iframe{
  padding-left:100px;
  padding-right:100px;
}

@media (min-width: 300px ) and (max-width: 767.98px) { 
  .gmap_iframe{
    padding-left: 20px;
    padding-right: 20px;
  
  }

}


.cc-image-2{
  width:50%;
  padding-bottom: 100px;
}