h1{
    background:linear-gradient(89.98deg, #A9363C 0.01%, #A70A53 53.8%, #A9363C 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* fonts links */

@font-face {
    font-family: "visby-bold";
    src: url(./Fonts/VisbyCF-Bold.otf);
}

@font-face {
    font-family: "visby-DemiBold";
    src: url(./Fonts/VisbyCF-DemiBold.otf);
}

@font-face {
    font-family: "visby-regular";
    src: url(./Fonts/VisbyCF-Regular.otf);
}

@font-face {
    font-family: "visby-extrabold";
    src: url(./Fonts/VisbyCF-ExtraBold.otf);
}

@font-face {
    font-family: "visby-heavy";
    src: url(./Fonts/VisbyCF-Heavy.otf);
}

@font-face {
    font-family: "visby-medium";
    src: url(./Fonts/VisbyCF-Medium.otf);
}

@font-face {
    font-family: "Breymont-Bold";
    src: url(./Fonts/Breymont-Bold.otf);
}

@font-face {
    font-family: "Breymont-light";
    src: url(./Fonts/Breymont-Light.otf);
}
/* fonts end */
/* navigation Changes */

/* navbar */

.nav-item
{
    font-family: 'visby-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    padding-right:2.5rem;
    
}
/* countdown timer */
.countdown-timer-container{
    color:white;
}
.countdown-timer-values{
    padding-top: 50px;
    text-align: center;
    font-family: 'visby-bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 102%;
}
.texts-timer{
    font-family: 'visby-bold';
    font-style: normal;
}

/* landing Page texts */
.heading-items{
padding-top:20px;
color:white;
font-family:Breymont-Bold;
font-style: normal; 

}
.heading-nmims{
padding-top:5px;
font-size:20px;
}

/* heading graphics */
.heading-graphics{
padding-top: 10px;
font-family: 'visby-medium';
font-size: normal;
color: white;
}

.cybercypherheading{
    width:70%;
}

.applybtn{
padding-top: 20px;
}

/* welcome to scam */


.welcome{
 text-align: center;  
  
}

.welcomeheading{
    padding-top:20px;
    width:70%;
}


section{padding:90px 0 90px 0;}
section{color:white;}
	section.custom-1{
	border-bottom-left-radius: 100% 100%;
	border-bottom-right-radius: 100% 100%;
	overflow:hidden;
	}
	
	
	.section-fixed {
	position:fixed;
	width:100%;
	min-height:100%;
	height:auto;
	}
   
    .paragraph{
        padding-top:40px;
    }
    .shadow{
        padding-top: 70px;
        padding-left: 20px;
        width:50%;
    }
    #section-about{
    font-family: 'visby-bold';
    font-style: normal;
    font-size:5px;
    }